.chat-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 12px 16px;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-grey-secondary);
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover,
    &:active {
        background-color: var(--color-grey-secondary);
    }

    &__left-part {
        display: flex;
    }

    &__text-block {
        display: flex;
        flex-direction: column;
        margin-left: 12px;
    }

    &__username {
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
    }

    &__text {
        margin-top: 4px;
        font-size: 12px;
        line-height: 16px;
        color: #6a6a6a;

        &--without-margin {
            margin-top: 0;
        }
    }

    &__right-part {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__new-messages {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        padding: 4px;
        font-size: 11px;
        line-height: 12px;
        border-radius: 100px;
        color: var(--color-white);
        background-color: var(--color-blue);
    }
}
