.profile-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 16px;
    background-color: var(--color-white);

    &__link {
        font-weight: 600;
        font-size: 18px;
        line-height: 18px;
        color: var(--color-blue);

        &:visited, &:active, &:focus {
            color: var(--color-blue);
        }
    }

    &__text {
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
    }
}
