@import '../../partials/input/input.css';
@import '../../partials/button/button.css';
@import '../../partials/link/link.css';

.login__heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
}

.login__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 424px;
    margin-top: 48px;
}