.input {
    width: 100%;
    padding: 28px 16px 14px;
    line-height: 22px;
    border: 1px solid #e7e7e7;
    border-radius: 12px;

    &--chat {
        padding: 13px 16px;
        border: 1px solid var(--color-grey-secondary);
        background-color: var(--color-white);
    }

    &__wrapper {
        width: 100%;
        position: relative;

        &--error {
            outline: 1px solid var(--color-red);
            border-radius: 12px;

            input {
                outline: none;
            }
        }

        &--chat {
            &::before {
                display: none;
            }
        }

        &:nth-child(n + 2) {
            margin-top: 12px;
        }

        &::before {
            content: attr(data-content);
            position: absolute;
            left: 16px;
            top: 14px;
            font-size: 10px;
            line-height: 10px;
            opacity: 0.4;
        }
    }
}
