.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 21px 0;
    margin-top: 24px;
    background-color: var(--color-blue);
    border-radius: 12px;
    font-size: 12px;
    font-weight: 800;
    line-height: 14px;
    color: var(--color-white);

    &--icon {
        padding: 14px 16px;
        width: auto;
        border-radius: 32px;
        margin-top: 0;
    }

    &--add-chat {
        padding: 5px 11px;
        width: auto;
        margin-top: 0;
        background-color: transparent;
    }

    &--actions {
        justify-content: flex-start;
        padding: 0;
        background-color: transparent;
        color: var(--color-black);

        &:first-child {
            margin-top: 0;
        }

        &:not(:first-child) {
            margin-top: 16px;
        }
    }

    &--uppercase {
        text-transform: uppercase;
    }

    &--less-padding {
        padding: 12px 0;
    }

    &--font-weight-500 {
        font-weight: 500;
    }

    &--font-weight-800 {
        font-weight: 800;
    }
}
