@import url("../../components/profile-header/profile-header.css");
@import url("../../css/components/profile-form.css");
@import url("../../components/profile-input/profile-input.css");
@import url("../../components/button/button.css");

.edit-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 414px;
    margin-top: 152px;
}
