@import url("../../css/components/profile-form.css");

.edit-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 414px;
    margin-top: 152px;
}
