@import '../../partials/profile-header/profile-header.css';
@import '../../partials/profile-form/profile-form.css';
@import '../../partials/profile-input/profile-input.css';
@import '../../partials/button/button.css';

.edit-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 414px;
    margin-top: 152px;
}