---
styles:
    - './chat.css'
---

{{!< layout}}

<main class="main-app">
    <div class="main-app__left-column">
        {{> profile-block/profile-block size="s" avatarSrc="../../../static/img/avatar.svg" avatarAlt="avatar image" username="Andrew" profile_link="#"}}
        {{> search-block/search-block}}
        <ul class="main-app__chats-list">
            {{> chat-item/chat-item size="m" avatarSrc="../../../static/img/avatar.svg" avatarAlt="avatar image" username="Andrew" last_message="Hello!" time="15:12" new_messages="2"}}
            {{> chat-item/chat-item size="m" avatarSrc="../../../static/img/avatar.svg" avatarAlt="avatar image" username="Andrew" last_message="Hello!" time="15:12" new_messages="2"}}
            {{> chat-item/chat-item size="m" avatarSrc="../../../static/img/avatar.svg" avatarAlt="avatar image" username="Andrew" last_message="Hello!" time="15:12" new_messages="2"}}
        </ul>
    </div>
    <div class="main-app__right-column">
        <input name="message" type="text" />
    </div>
</main>