@import url("../../partials/profile-block/profile-block.css");
@import url("../../partials/search-block/search-block.css");
@import url("../../partials/chat-item/chat-item.css");
@import url("../../partials/avatar/avatar.css");
@import url("../../partials/message/message.css");
@import url("../../partials/chat-header/chat-header.css");
@import url("../../partials/input/input.css");
@import url("../../partials/button/button.css");

.chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    background-color: var(--color-background);

    &__bottom-part {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 16px;
    }

    &__date {
        align-self: center;
        padding: 6px 10px;
        background-color: var(--color-grey-dark);
        border-radius: 16px;
        font-size: 12px;
        line-height: 14px;
        color: var(--color-shadow-40);
    }

    &__list {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__message-form {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 16px 0;
    }

    &__button {
        margin-left: 8px;
    }
}
