@import url("../../css/components/profile-form.css");

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 414px;
    margin-top: 12px;

    &__avatar-block {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 130px;
    }

    &__avatar-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 36px 39px;
        background-color: #efefef;
        border-radius: 100px;
        cursor: pointer;

        &:hover {
            outline: 1px solid #000;
        }

        &--without-padding {
            padding: 0;
        }
    }

    &__empty-avatar {
        width: 52px;
        height: 58px;
        object-fit: contain;
    }

    &__avatar {
        width: 130px;
        height: 130px;
        border-radius: 100px;
        object-fit: cover;
    }

    &__avatar-add-photo {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    &__username {
        margin-top: 20px;
        font-weight: 500;
        line-height: 16px;
    }

    &__form {
        margin-top: 44px;
    }

    &__settings-links {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 44px;
    }

    &__settings-link {
        padding-bottom: 10px;

        &:not(:last-child) {
            border-bottom: 1px solid #eaeaea;
        }

        &:not(:first-child) {
            margin-top: 16px;
        }

        &--red {
            color: #f00;

            &:visited,
            &:active,
            &:focus {
                color: #f00;
            }
        }

        &--blue {
            color: #469bff;

            &:visited,
            &:active,
            &:focus {
                color: #469bff;
            }
        }
    }
}
