.link {
    font-weight: 800;
    font-size: 12px;
    line-height: 14px;
    color: #469BFF;
    text-align: center;

    &--uppercase {
        text-transform: uppercase;
    }

    &--font-weight-500 {
        font-weight: 500;
    }

    &:visited, &:active, &:focus {
        color: #469BFF;
    }
}