<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../main.css">
    <title>My Messenger</title>
</head>
<body>
    <main style="display: flex; flex-direction: column; margin-left: 10px;">
        <h1>Hello, this is sitemap</h1>
        <a href="./login/login.hbs" style="margin-top: 10px;">Login</a>
        <a href="./signup/signup.hbs" style="margin-top: 10px;">Signup</a>
        <a href="./chats/chats.hbs" style="margin-top: 10px;">Chats</a>
        <a href="./chat/chat.hbs" style="margin-top: 10px;">Chat</a>
        <a href="./profile/profile.hbs" style="margin-top: 10px;">Profile</a>
        <a href="./edit-profile/edit-profile.hbs" style="margin-top: 10px;">Edit profile</a>
        <a href="./change-password/change-password.hbs" style="margin-top: 10px;">Change password</a>
        <a href="./404/404.hbs" style="margin-top: 10px;">404</a>
        <a href="./500/500.hbs" style="margin-top: 10px;">500</a>
    </main>
</body>
</html>