---
styles:
    - './change-password.css'
---

{{!< layout}}

{{> profile-header/profile-header link="../../pages/profile/profile.hbs" text="Edit profile"}}
<main class="profile-wrapper">
    <div class="change-password">
        {{#> profile-form/profile-form}}
            {{> profile-input/profile-input name="oldPassword" heading="Old password" type="password" value="1234567"}}
            {{> profile-input/profile-input name="newPassword" heading="New password" type="password" value="12345678"}}
            {{> profile-input/profile-input name="newPassword-2" heading="Repeat new password" type="password" value="12345678"}}
            {{> button/button text="Save" type="button" lessPadding=true fontWeight="500"}}
        {{/profile-form/profile-form}}
    </div>
</main>