@import url("../../components/message/message.css");
@import url("../../css/components/avatar.css");

/* stylelint-disable-next-line selector-class-pattern */
.chats__modal-actions {
    position: absolute;
    right: 20px;
    top: 50px;
}
