---
styles:
    - './404.css'
---

{{!< layout}}

<main class="error-pages">
    <div class="error-pages__info">
        <h1 class="error-pages__h1">404</h1>
        <h3 class="error-pages__h3">Oops! This page does not exist.</h3>
        {{> link/link text="Back to chats" link="../chats/chats.hbs" marginTop="60px" fontWeight="500"}}
    </div>
</main>