.input__wrapper {
    width: 100%;
    position: relative;

    &:nth-child(n + 2) {
        margin-top: 12px;
    }

    &::before {
        content: attr(data-content);
        position: absolute;
        left: 16px;
        top: 14px;
        font-size: 10px;
        line-height: 10px;
        opacity: .4;
    }
}

.input {
    width: 100%;
    padding: 28px 16px 14px;
    line-height: 22px;
    border: 1px solid #E7E7E7;
    border-radius: 12px;
}