.message {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 16px;
    border-radius: 16px;

    &:first-child {
        margin-top: 40px;
    }

    &:nth-child(n + 2) {
        margin-top: 24px;
    }

    &--left {
        align-self: flex-start;
        background-color: var(--color-grey-dark);
        color: var(--color-black);
    }

    &--right {
        align-self: flex-end;
        background-color: var(--color-blue);
        color: var(--color-white);
    }

    &__text {
        font-size: 16px;
        line-height: 22px;
    }

    &__time {
        margin-left: 8px;
        font-size: 10px;
        line-height: 10px;
    }
}
